@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cursor-light {
  position: fixed;
  width: 240px;
  height: 140px;
  border-radius: 80%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(92, 92, 92, 0.15) 0%, rgba(255,255,255,0) 60%);
  mix-blend-mode: screen;
  filter: blur(10px);
  transform: translate(-50%, -50%);
  z-index: 9999;
}

body {
  /* cursor: none;  */
}


.light-border {
  position: relative;
}

.light-glow {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 200px;
  height: 250px;
  transform: translateX(-50%);
  background: radial-gradient(circle, rgba(155, 122, 62, 0.8) 0%, rgba(0,0,0,0) 80%);
  filter: blur(48px);
  animation: glow-move 8s linear infinite alternate;
  opacity: 0.8;
}



@keyframes glow-move {
  0% { top: -150px; opacity: 0.6; }
  50% { opacity: 1; }
  100% { top: 100%; opacity: 0.6; }
}




.light-border-horizontal {
  position: relative;
  width: 100%;
  height: 1px; 
  overflow: hidden;
  border-radius: '75%';
}

.light-border-horizontal::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  z-index: 999;
  border-radius: '75%';
}

.light-glow-horizontal {
  position: absolute;
  top: 50%;
  left: -200px;
  width: 250px;
  height: 1px;
  transform: translateY(-50%);
  background: radial-gradient(ellipse at center,
    rgba(236,191,106,1) 0%,
    rgba(236,191,106,0) 90%);
  filter: blur(2px);
  animation: glow-move-horizontal 4s linear infinite;
  z-index: 99; 
  border-radius: '75%';

}


@keyframes glow-move-horizontal {
  0%   { left: -250px; opacity: 0.3; }
  50%  { left: 25%;    opacity: 1;   }
  100% { left: 50%;   opacity: 0.1; }
}